@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #FAEFE0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dbdbdb, #FAEFE0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d8d396, #FAEFE0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 25px;
    width: 200px;
}

.logo-img {
    height: 100%;
    max-width: 150px;
    text-align: right;

    left: 2em;
    top: 2em;
    padding: 2em;
}

logo-img-container {
    margin-right: 2em;
}

.logo-text {
    color: #7E3180;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-text h1 {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
}

.logo-text a {
    text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 15px;
    line-height: 18px;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}


nav {
    width: 100%;
    font-size: 14px;
}

nav ul {
    list-style: none;
    text-align: right;
    margin: 2em 2em;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    float: right;
}

nav li {
    padding: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #7E3180;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

.feature {
    flex-basis: 50%;
    padding: 1em;
    box-sizing: border-box;
    margin: auto;
}

/*.feature:nth-child(odd) {
    background-color: #f5f5f5;
}*/

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.feature p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 1em;
}



footer {
    background-color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #7E3180;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    margin-right: 2em;
    max-width: 90px;
}

.footer-left p {
    font-family: 'Crimson Pro', serif;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-right a {
    text-decoration: none;
}

.landing-img-container {
    text-align: center;
}

.landing-img {
    max-height: 100%;
    width: 35%;
    height: auto;
}

.cta {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

.learn-more-btn {
    background-color: transparent;
    border: 2px solid #7E3180;
    color: #7E3180;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: #7E3180;
    color: white;
}

.cta-btn {
    background-color: #7E3180;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: white;
    color: #7E3180;
}


@media only screen and (max-width: 767px) {
    .logo-img {
        display: none;
    }

    .logo-text {
        margin-left: 1em;
    }

    .mockup {
        max-height: 20em;
    }

    .explanation {
        padding: 1em;
        text-align: left;
    }

    .image {
        padding: 0;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .feature {
        flex-basis: 100%;
    }
    nav ul {
        list-style: none;
        text-align: right;
        justify-content: space-between;
    
        display: flex;
        flex-direction: column;
    }
}

.motto-container {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
}

.motto-container p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 1em;
    padding-top: 1em;
}

.motto {
    margin-top: 2em;
}

/*Below from Joe Features page*/
.image {
    object-fit: contain;
    width: auto;
    text-align: right;
    width: 40%;
    padding: 30px;

}

.mockup {
    height: 500px;
}


.explanation {
    color: white;
    width: 15em;
    padding: 2em;
}

.explanation p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.flex-container {
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*Below from Charan About page*/


.team-member-area {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    flex-wrap: wrap;
}

.team-member {
    display: inline-block;
    text-align: center;
    /* max-width: 300px; */
    margin: 50px;
    background-color: rgb(232, 220, 207);
    padding: 1em;
    flex: 250px;
}

.team-member p {
    text-align: left;
}

.team-member img {
    /* max-width: 200px; */
    border-radius: 50%;
}