<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


   



    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/assets/images/favicon.ico">
    <link rel="stylesheet" href="/static/assets/styles/styles.css">

    <title>About Us</title>
</head>

<body>
    <script src="static/assets/scripts/header.js"></script>

    <div class="motto-container">
        <div class="motto">
            <p>Our group's focus for the SocioConnect project was to create a website that would be relevant and useful
                for end users. We aimed to achieve this by ensuring engaging and informative content, a professional and
                consistent design, intuitive navigation, and compatibility across screen sizes. As a group, our focus
                was to design and develop an interactive and user-friendly website, with each member contributing their
                skills to ensure functionality, visual appeal, and meeting the needs of SocioConnect.</p>
        </div>
    </div>

    <div class="row">
        <div class="feature">
            <h2>Divyanshi Singh</h2>
            <p>
                Divyanshi is a competent professional with over 5 years of experience in data analytics, database
                solutions, and
                BI reporting. She is a keen learner and is currently pursuing her M.S. in Business Analytics and
                Information Systems at USF. She is proficient in programming languages such as SQL and Python. In this
                particular assignment, she worked on the
                design and development the landing page, as well as developing signup/donations page using HTML, CSS, and JavaScript.
            </p>
        </div>
        <div class="feature">
            <div class="landing-img-container">
                <img class="landing-img" src="/static/assets/images/headshots/d.png" alt="devices" style="border-radius: 50%;">
            </div>
        </div>
        <div class="feature">
            <div class="landing-img-container"><img class="landing-img" src="/static/assets/images/headshots/j.png"
                    alt="devices" style="border-radius: 50%;">
            </div>
        </div>

        <div class="feature">
            <h2>Joe Arul Susai Prakash</h2>
            <p>
                Joe is pursuing his masters full-time in the M.S. in Business Analytics and Information Systems program
                at USF. Prior to this he worked as a Software Engineer where his primarily responsibilities included
                designing and building the data infrastructure at
                Rocket Software. In this particular assignment, he worked on designing the sign-up/donate page and on its associated data collection.
            </p>
        </div>
        <div class="feature">
            <h2>Sai Charan Dasari</h2>

            <p>
                Sai Charan is a technology enthusiast with 2 years of professional experience in the cloud. He is now
                pursuing his M.S. in Business Analytics and Information Systems
                at USF . Aided wit his familiarity of Python, R-studio, and databases, Sai Charan loves creating
                new things and experimenting. He also enjoys traveling, learning about different cultures, and meeting
                new people. In this particular assignment their contribution was doing a Visualization like Charts layout 
                using it in the View statistics section and testing the website on different devices.
            </p>
        </div>
        <div class="feature">
            <div class="landing-img-container"><img class="landing-img" src="/static/assets/images/headshots/c.png"
                    alt="devices" style="border-radius: 50%;"></div>
        </div>

        <div class="feature">
            <div class="landing-img-container"><img class="landing-img" src="/static/assets/images/headshots/k.png"
                    alt="devices" style="border-radius: 50%;"></div>
        </div>

        <div class="order-md-1 feature">
            <h2>Kevin Hitt</h2>
            <p> Kevin recently earned his Bachelor's degree from the University of South Florida
                and is now pursuing his
                Master's degree in Business Analytics and Information Systems. His love of technology inspired him to
                pursue SocioConnect at a young
                age. Kevin is passionate about bringing people together and creating engaging experiences for users. He
                enjoys hiking, trying out
                new recipes, and spending time with his family. In this particular assignment, he aided in project management, 
                CSS consistency among pages, and form validation. 
            </p>
        </div>
    </div>
    <script src="/static/assets/scripts/footer.js"></script>
</body>

</html>