<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/assets/styles/signup.css">
    <link rel="stylesheet" href="/static/assets/styles/styles.css">

    <title>Product Features</title>
</head>

<body>
    <script src="static/assets/scripts/header.js"></script>


    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/interestspage.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>Tailored!</h2>
            <p>Customize the app to include only content you're interested in. No more mindlessly scrolling through content
                which is irrelevant to your goals.</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/profilepage.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>For the 'YOU' in Universe</h2>
            <p>Capture the best version of yourself, share the best moments in your life. SocioConnect is designed to
                help you share your ideas in the most flexible way possible.</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/profilesearch.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>Meet your future collaborator</h2>
            <p>SocioConnect brings people of similar interests together and provides them with the tools required to
                plan your next groundbreaking invention, your next Saturday road trip, or even better - your next Boba
                Tea party!!!</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/explorepage.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>Share!</h2>
            <p>YouTube for videos, Twitter for ideas, Instagram for pictures, TikTok for reels. Everything at once?
                SocioConnect!</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/chatpage.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>Secure.</h2>
            <p>These days we find so many apps that falsely claim to keep our information safe, and the very next moment
                we find ads spamming us to buy the item we were talking about last week. We at SocioConnect believe that every
                piece of information the user wants to be private, MUST be kept private. We use state of the art technology to secure
                every single point of information exchange - knowing that what can be compromised, will be compromised!
            </p>
        </div>
    </div>

    <div class="flex-container">
        <div class="image">
            <img class="mockup" src="/static/assets/images/mockups/applanding.png" alt="Mockup placeholder">
        </div>
        <div class="explanation">
            <h2>Safe on the eyes.. and the mind.</h2>
            <p>Dark mode, Focus mode, Bedtime mode, Timer controls - you name it. We're the good guys :)</p>
        </div>
    </div>
    <div class="flex-container">
        <div class="cta"><a href="signup"><button class="cta-btn">Sign Up!</button></a></div>
    </div>
    <script src="static/assets/scripts/footer.js"></script>

</body>

</html>
